<!-- ==================== HEADER Y NAVEGACIÓN ==================== -->
<%- include('partials/header') %>
<link rel="stylesheet" href="./css/dashboard_db.css">
    
<h1>Login Exitoso bienvenido a CocaCola</h1>
<%- include('partials/footer') %>