<div class="carga">
    <div class="subcarga">
        <div class="wave-loader">
            <div class="wave-bar"></div>
            <div class="wave-bar"></div>
            <div class="wave-bar"></div>
            <div class="wave-bar"></div>
            <div class="wave-bar"></div>
        </div>
    </div>
</div>
<div class="anuncio">
    <div class="contenido">
    </div>
</div>
<div class="anuncio-second">
    <div class="contenido">
    </div>
</div>
<div class="anuncio-tercer">
    <div class="contenido">
    </div>
</div>
<div class="carga-obtener slide-out-flotante ">
    <div class="logo">
        <h1>TP</h1>
        <div class="info-logo">
            <p class="nombre-logo">TotalProd</p>
            <p class="slogan-logo">Gestiona mejor, produce mas.</p>
        </div>
    </div>
    <div class="sub-carga">
        <img src="/img/procesando.gif" alt="">
        <p>Obteniendo datos, espera un momento</p>
    </div>
</div>
<div class="carga-procesar slide-out-flotante ">
    <div class="logo">
        <h1>TP</h1>
        <div class="info-logo">
            <p class="nombre-logo">TotalProd</p>
            <p class="slogan-logo">Gestiona mejor, produce mas.</p>
        </div>
    </div>
    <div class="sub-carga">
        <img src="/img/procesando.gif" alt="">
        <p>Procesando, espera un momento</p>
    </div>
</div>
