<div class="carga">
    <div class="subcarga">
        <div class="wave-loader">
            <div class="wave-bar"></div>
            <div class="wave-bar"></div>
            <div class="wave-bar"></div>
            <div class="wave-bar"></div>
            <div class="wave-bar"></div>
        </div>
    </div>
</div>
<div class="anuncio">
    <div class="contenido">
    </div>
</div>
<div class="anuncio-second">
    <div class="contenido">
    </div>
</div>
<div class="anuncio-tercer">
    <div class="contenido">
    </div>
</div>
<div class="pro-delete slide-out-flotante ">
    <div class="logo">
        <h1>TP</h1>
        <div class="info-logo">
            <p class="nombre-logo">TotalProd</p>
            <p class="slogan-logo">Gestiona mejor y produce mas.</p>
        </div>
    </div>
    <div class="sub-carga">
        <img src="/img/trash.gif" alt="">
        <p>Eliminando, espera un momento</p>
    </div>
    <button class="btn especial"><i class="bx bx-x"></i><span>Cancelar</span></button>
</div>
<div class="pro-edit slide-out-flotante ">
    <div class="logo">
        <h1>TP</h1>
        <div class="info-logo">
            <p class="nombre-logo">TotalProd</p>
            <p class="slogan-logo">Gestiona mejor y produce mas.</p>
        </div>
    </div>
    <div class="sub-carga">
        <img src="/img/edit.gif" alt="">
        <p>Editando, espera un momento</p>
    </div>
    <button class="btn especial"><i class="bx bx-x"></i><span>Cancelar</span></button>
</div>
<div class="pro-anulado slide-out-flotante">
    <div class="logo">
        <h1>TP</h1>
        <div class="info-logo">
            <p class="nombre-logo">TotalProd</p>
            <p class="slogan-logo">Gestiona mejor y produce mas.</p>
        </div>
    </div>
    <div class="sub-carga">
        <img src="/img/anular.gif" alt="">
        <p>Anulando, espera un momento</p>
    </div>
    <button class="btn especial"><i class="bx bx-x"></i><span>Cancelar</span></button>
</div>
<div class="pro-verificado slide-out-flotante">
    <div class="logo">
        <h1>TP</h1>
        <div class="info-logo">
            <p class="nombre-logo">TotalProd</p>
            <p class="slogan-logo">Gestiona mejor y produce mas.</p>
        </div>
    </div>
    <div class="sub-carga">
        <img src="/img/anular.gif" alt="">
        <p>Verificando, espera un momento</p>
    </div>
    <button class="btn especial"><i class="bx bx-x"></i><span>Cancelar</span></button>
</div>
<div class="pro-pago slide-out-flotante">
    <div class="logo">
        <h1>TP</h1>
        <div class="info-logo">
            <p class="nombre-logo">TotalProd</p>
            <p class="slogan-logo">Gestiona mejor y produce mas.</p>
        </div>
    </div>
    <div class="sub-carga">
        <img src="/img/money.gif" alt="">
        <p>Registrando pago, espera un momento</p>
    </div>
    <button class="btn especial"><i class="bx bx-x"></i><span>Cancelar</span></button>
</div>
<div class="pro-registro slide-out-flotante">
    <div class="logo">
        <h1>TP</h1>
        <div class="info-logo">
            <p class="nombre-logo">TotalProd</p>
            <p class="slogan-logo">Gestiona mejor y produce mas.</p>
        </div>
    </div>
    <div class="sub-carga">
        <img src="/img/registro.gif" alt="">
        <p>Registrando, espera un momento</p>
    </div>
    <button class="btn especial"><i class="bx bx-x"></i><span>Cancelar</span></button>
</div>
<div class="pro-user slide-out-flotante">
    <div class="logo">
        <h1>TP</h1>
        <div class="info-logo">
            <p class="nombre-logo">TotalProd</p>
            <p class="slogan-logo">Gestiona mejor y produce mas.</p>
        </div>
    </div>
    <div class="sub-carga">
        <img src="/img/user.gif" alt="">
        <p>Guardando, espera un momento</p>
    </div>
    <button class="btn especial"><i class="bx bx-x"></i><span>Cancelar</span></button>
</div>
<div class="pro-obtner slide-out-flotante">
    <div class="logo">
        <h1>TP</h1>
        <div class="info-logo">
            <p class="nombre-logo">TotalProd</p>
            <p class="slogan-logo">Gestiona mejor y produce mas.</p>
        </div>
    </div>
    <div class="sub-carga">
        <img src="/img/anular.gif" alt="">
        <p>Obteniendo info, espera un momento</p>
    </div>
</div>
<div class="pro-new slide-out-flotante">
    <div class="logo">
        <h1>TP</h1>
        <div class="info-logo">
            <p class="nombre-logo">TotalProd</p>
            <p class="slogan-logo">Gestiona mejor y produce mas.</p>
        </div>
    </div>
    <div class="sub-carga">
        <img src="/img/new.gif" alt="">
        <p>Creando, espera un momento</p>
    </div>
    <button class="btn especial"><i class="bx bx-x"></i><span>Cancelar</span></button>
</div>
<div class="pro-price slide-out-flotante">
    <div class="logo">
        <h1>TP</h1>
        <div class="info-logo">
            <p class="nombre-logo">TotalProd</p>
            <p class="slogan-logo">Gestiona mejor y produce mas.</p>
        </div>
    </div>
    <div class="sub-carga">
        <img src="/img/anular.gif" alt="">
        <p>Procesando precios, espera un momento</p>
    </div>
    <button class="btn especial"><i class="bx bx-x"></i><span>Cancelar</span></button>
</div>
<div class="pro-tag slide-out-flotante">
    <div class="logo">
        <h1>TP</h1>
        <div class="info-logo">
            <p class="nombre-logo">TotalProd</p>
            <p class="slogan-logo">Gestiona mejor y produce mas.</p>
        </div>
    </div>
    <div class="sub-carga">
        <img src="/img/new.gif" alt="">
        <p>Procesando tags, espera un momento</p>
    </div>
    <button class="btn especial"><i class="bx bx-x"></i><span>Cancelar</span></button>
</div>
<div class="pro-ingreso slide-out-flotante">
    <div class="logo">
        <h1>TP</h1>
        <div class="info-logo">
            <p class="nombre-logo">TotalProd</p>
            <p class="slogan-logo">Gestiona mejor y produce mas.</p>
        </div>
    </div>
    <div class="sub-carga">
        <img src="/img/cart.gif" alt="">
        <p>Procesando ingreso, espera un momento</p>
    </div>
    <button class="btn especial"><i class="bx bx-x"></i><span>Cancelar</span></button>
</div>
<div class="pro-salida slide-out-flotante">
    <div class="logo">
        <h1>TP</h1>
        <div class="info-logo">
            <p class="nombre-logo">TotalProd</p>
            <p class="slogan-logo">Gestiona mejor y produce mas.</p>
        </div>
    </div>
    <div class="sub-carga">
        <img src="/img/cart2.gif" alt="">
        <p>Procesando salida, espera un momento</p>
    </div>
    <button class="btn especial"><i class="bx bx-x"></i><span>Cancelar</span></button>
</div>
<div class="pro-pedido slide-out-flotante">
    <div class="logo">
        <h1>TP</h1>
        <div class="info-logo">
            <p class="nombre-logo">TotalProd</p>
            <p class="slogan-logo">Gestiona mejor y produce mas.</p>
        </div>
    </div>
    <div class="sub-carga">
        <img src="/img/pedido.gif" alt="">
        <p>Procesando, espera un momento</p>
    </div>
    <button class="btn especial"><i class="bx bx-x"></i><span>Cancelar</span></button>
</div>
<div class="pro-pack slide-out-flotante">
    <div class="logo">
        <h1>TP</h1>
        <div class="info-logo">
            <p class="nombre-logo">TotalProd</p>
            <p class="slogan-logo">Gestiona mejor y produce mas.</p>
        </div>
    </div>
    <div class="sub-carga">
        <img src="/img/llego.gif" alt="">
        <p>Procesando, espera un momento</p>
    </div>
    <button class="btn especial"><i class="bx bx-x"></i><span>Cancelar</span></button>
</div>
<div class="pro-peso slide-out-flotante">
    <div class="logo">
        <h1>TP</h1>
        <div class="info-logo">
            <p class="nombre-logo">TotalProd</p>
            <p class="slogan-logo">Gestiona mejor y produce mas.</p>
        </div>
    </div>
    <div class="sub-carga">
        <img src="/img/peso.gif" alt="">
        <p>Agregando peso, espera un momento</p>
    </div>
    <button class="btn especial"><i class="bx bx-x"></i><span>Cancelar</span></button>
</div>
<div class="pro-save slide-out-flotante">
    <div class="logo">
        <h1>TP</h1>
        <div class="info-logo">
            <p class="nombre-logo">TotalProd</p>
            <p class="slogan-logo">Gestiona mejor y produce mas.</p>
        </div>
    </div>
    <div class="sub-carga">
        <img src="/img/save.gif" alt="">
        <p>Guardando y finalizando, espera un momento</p>
    </div>
    <button class="btn especial"><i class="bx bx-x"></i><span>Cancelar</span></button>
</div>