<div class="carga">
    <div class="subcarga">
        <div class="wave-loader">
            <div class="wave-bar"></div>
            <div class="wave-bar"></div>
            <div class="wave-bar"></div>
            <div class="wave-bar"></div>
            <div class="wave-bar"></div>
        </div>
    </div>
</div>
<div class="anuncio">
    <div class="contenido">
    </div>
</div>
<div class="anuncio-second">
    <div class="contenido">
    </div>
</div>
<div class="anuncio-tercer">
    <div class="contenido">
    </div>
</div>


