<!-- ==================== HEADER Y NAVEGACIÓN ==================== -->
<%- include('partials/header') %>
    <link rel="stylesheet" href="./css/dashboard_db.css">

    <div class="container-damabrava container">
        <div class="nav">
            <div class="nav-container">
                <button class="refresh"><i class='bx bx-refresh'></i></button>
                <button class="menu"><i class='bx bx-menu'></i></button>
                <div class="info">
                    <img src="./icons/icon.png" alt="Logo">
                    <h1 class="titulo">TotalProd</h1>
                </div>
            </div>
        </div>
        <div class="home-view view"></div>
        <div class="perfil-view view" style="display: none;"></div>
        <div class="notificacion-view view" style="display: none;"></div>

        <div class="flotante">
            <button class="home active"><i class='bx bx-home'></i></button>
            <button class="perfil"><i class='bx bx-user'></i></button>
            <button class="notificacion"><i class='bx bx-bell'></i></button>
        </div>
    </div>
    <div class="panel-lateral">
        <div class="contenido">
        </div>
    </div>
    <div class="carga-obtener slide-out-flotante ">
        <div class="logo">
            <h1>TP</h1>
            <div class="info-logo">
                <p class="nombre-logo">TotalProd</p>
                <p class="slogan-logo">Gestiona mejor, produce mas.</p>
            </div>
        </div>
        <div class="sub-carga">
            <img src="/img/procesando.gif" alt="">
            <p>Obteniendo datos, espera un momento</p>
        </div>
    </div>
    <div class="carga-procesar slide-out-flotante ">
        <div class="logo">
            <h1>TP</h1>
            <div class="info-logo">
                <p class="nombre-logo">TotalProd</p>
                <p class="slogan-logo">Gestiona mejor, produce mas.</p>
            </div>
        </div>
        <div class="sub-carga">
            <img src="/img/procesando.gif" alt="">
            <p>Procesando, espera un momento</p>
        </div>
    </div>
    <script type="module" src="./js/dashboard.js"></script>
    <%- include('./componentes') %>
        <%- include('partials/footer') %>