@import'styles/estilos-base.css';
@import'styles/componentes.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

.container-login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    padding: 20px;
    gap: 10px;
    overflow-y: hidden;
    overflow: hidden !important;
    background: none;


    .logo {
        width: 150px;
        height: 150px;
        min-height: 150px;
        border-radius: 50%;
        background: var(--tercer-color);
        padding: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .logo img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        filter: brightness(0) invert(1);
        color: var(--text) !important;
    }

    .bienvenida {
        font-size: var(--text-2xl);
        background: var(--cuarto-color);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        font-weight: 600;
        margin-top: 10px;
        margin: 0;
    }

    .titulo {
        font-size: var(--text-titulo);
        color: gray;
        font-weight: 400;
        margin-bottom: 10px;
    }

    .error {
        color: var(--error);
        font-size: var(--text-detalle);
        display: none;
        width: 100%;
        text-align: left;
    }

    .check {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: var(--text-detalle);
        width: 100%;
        margin-bottom: 20px;

        .checkbox {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 5px;

            input {
                width: 15px;
                height: 15px;
            }

            p {
                color: gray;
            }
        }

        .olvido {
            color: var(--tercer-color);
            cursor: pointer;
        }
    }

    .sin-cuenta {
        font-size: var(--text-detalle);
        color: gray;

        span {
            color: var(--tercer-color);
            cursor: pointer;
        }
    }
}

@media screen and (min-width: 768px) {
    .container-login {
        max-height: 650px;
        max-width: 450px;
    }

}

.requirement.valid {
    color: var(--success);
    font-size: 11px;
}

.requirement.invalid {
    color: var(--error);
    font-size: 11px;
    
    i{
        color: var(--error) !important;
    }
}

.requirement i {
    width: 14px;
}

.entrada .input {
    position: relative;
}



.entrada .input .validation-icon {
    position: absolute !important;
    right: 5px !important;
    top: 50% !important;
    transform: translateY(-50%) !important;
    font-size: var(--text-subtitulo);
    z-index: 3;
}

.entrada .input .validation-icon.success {
    color: #4CAF50 !important;
}

.entrada .input .validation-icon.error {
    color: #f44336 !important;
}

.entrada .input .validation-icon.warning {
    color: #ff9800 !important;
}

.entrada .input .validation-icon.fa-spinner {
    color: #FFC354 !important;
}
.pro-start{
    display: none;
}