@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    font-family: 'Poppins', sans-serif;
    touch-action: manipulation;
    -webkit-tap-highlight-color: transparent;
    outline: none;
}

button,
a {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html,
body {
    overflow: hidden !important;
    background-color: var(--fondo5) !important;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}


:root {
    --text: black;
    --fondo: rgba(149, 149, 149, 0.064);
    --fondo2: #4fd0b623;
    --fondo3: #ffffff;
    --fondo4: rgba(149, 149, 149, 0.064);
    --fondo5: #f3f3f3;
    --sep-color: #28b498;
    --oct-color: rgb(234, 234, 234);
    --nov-color: #ffffff;
    --primary-color: #ffffff;
    --second-color: #1a1a1a;
    --cero-color: rgb(216, 216, 216) !important;
    --dec-color: #28b498;

    /* Colores de acento que se mantienen en ambos temas */
    --cuarto-color: #28b498;
    --tercer-color: #28b498;
    --error: #fc3737;
    --success: #4CAF50;

    /* Variables para tamaños de texto se mantienen igual */
    --text-detalle: 13px;
    --text-subtitulo: 15px;
    --text-titulo: 16px;
    --text-superior: 17px;
    --text-xl: 18px;
    --text-2xl: 20px;
    --text-3xl: 24px;
    --text-4xl: 26px;
    --text-5xl: 28px;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: transparent; /* Fondo transparente para mejor overlay */
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgba(128, 128, 128, 0.7); /* Semi-transparente para mejor overlay */
    border-radius: 10px;
    border: 1px solid transparent; /* Espacio adicional para que no toque el contenido */
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(128, 128, 128, 0.9);
}

/* Para Firefox - scrollbar overlay nativo */
* {
    user-select: none;
    scrollbar-color: rgba(128, 128, 128, 0) transparent;
    scrollbar-width: thin;
    

    &:hover {
        scrollbar-color: rgba(128, 128, 128, 0.7) transparent;
    }
}

/* Opcional: Hacer el scrollbar más sutil cuando no está en uso */
::-webkit-scrollbar-thumb {
    opacity: 0.5;
    transition: all  0.1s ease;
}

::-webkit-scrollbar-thumb:hover {
    opacity: 1;
}



[data-theme="dark"] {
    --text: #ffffff;
    --fondo: #202020;
    --fondo3: #2d2d2d;
    --fondo4: #252525;
    --fondo5: #1c1c1c;
    --fondo2: #3c3c3c;
    --primary-color: #2a2a2a;
    --second-color: #ffffff;
    --nov-color: #111111;
    --cuarto-color: #28b498;
    --cero-color: #2f2f2f !important;
    --sep-color: #28b498;
    --oct-color: rgb(34, 34, 34);
    --dec-color: #ffffff;
}