.home-view {
    opacity: 0;
    transition: opacity 0.3s ease-out;

    .titulo {
        width: auto;
        text-align: left;
    }

    .subtitulo {
        margin-bottom: 10px;
        width: fit-content;
    }

    .seccion1 {
        display: flex;
        width: 100%;
        min-height: 200px;
        background: none;
        flex-direction: column;
        overflow: hidden;
        padding-bottom: 10px;



        .funciones-rol {
            display: flex;
            height: 100%;
            width: 100%;
            gap: 10px;
            overflow-x: hidden;
            overflow-y: hidden;
            padding-top: 10px;

            .funcion {
                background-color: var(--primary-color);
                border-radius: 10px;
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 15px 10px !important;
                gap: 5px;

                i {
                    min-width: 50px;
                    min-height: 50px;
                    background-color: var(--fondo2);
                    font-size: var(--text-2xl);
                    color: var(--tercer-color);
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                .nombre {
                    font-size: var(--text-detalle);
                    font-weight: 500;
                    color: var(--text);
                }

                .detalle {
                    font-size: var(--text-detalle);
                    color: gray;
                    text-align: center;
                }
            }
        }
    }

    .seccion2 {
        display: flex;
        width: 100%;
        height: auto;
        background: none;
        flex-direction: column;
        gap: 10px;
        padding: 0;
    }

    .seccion3 {
        display: flex;
        width: 100%;
        height: auto;
        background: none;
        flex-direction: column;
        gap: 10px;
        padding-bottom: 10px;

        .destacados {
            display: flex;
            height: 100%;
            width: 100%;
            gap: 10px;
            overflow-x: auto;
            overflow-y: hidden;

            .destacado {
                background-color: var(--primary-color);
                border-radius: 10px;
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 15px 10px !important;
                gap: 5px;

                .cantidad {
                    font-size: 25px;
                    font-family: 'Impact', sans-serif !important;
                    width: 100%;
                    height: 40px;
                    border-radius: 10px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                .cantidad.green {
                    color: var(--success);
                }

                .cantidad.blue {
                    color:orange;
                }

                .cantidad.yellow {
                    color: var(--error);
                }

                .tipo {
                    font-size: var(--text-detalle);
                    color: var(--text);
                    text-align: center;
                }
            }
        }
    }
}