.tema-selector {
    display: flex;
    gap: 10px;
    margin: 0;
    justify-content: center;
    align-items: center;

    .btn-tema {
        padding: 10px 20px;
        border-radius: 8px;
        border: 1px solid var(--cero-color);
        background: var(--primary-color);
        color: var(--second-color);
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 8px;
        transition: all 0.3s ease;
        width: 100%;
    }

    .btn-tema:hover {
        background: var(--fondo2);
    }

    .btn-tema.active {
        background: var(--tercer-color);
        color: white;
        border-color: var(--tercer-color);

        i {
            color: white !important;
        }
    }
}
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 30px;
    margin-left: auto;
    padding-right: 10px;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #9b9b9b;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 23px;
    width: 23px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
}

input:checked+.slider {
    background-color: var(--cuarto-color);
}

input:focus+.slider {
    box-shadow: 0 0 1px var(--cuarto-color);
}

input:checked+.slider:before {
    transform: translateX(18px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

