.btn-calendario {
    width: fit-content;
    max-width: 40px;
    max-height: 40px;
    min-width: 40px;
    border: none;
    border-radius: 10px;
    font-size: var(--text-detalle);
    background-color: var(--fondo2);
    text-wrap: nowrap;
    color: var(--text);
    transition: all 0.5s ease;
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    padding: 0 !important;
    gap: 0 !important;

    i {
        font-size: var(--text-3xl) !important;
        padding: 0 !important;
        border-radius: none !important;
        margin: 0 !important;
        min-width: 100% !important;
    }
}

.btn-calendario.con-fecha {
    background-color: var(--cuarto-color);
    color: white;

    i {
        color: white !important;
    }
}

.flatpickr-calendar {
    background: var(--nov-color) !important;
    border: 1px solid var(--border-color) !important;
    border-radius: 10px !important;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2) !important;
    color: var(--text) !important;
    font-size: var(--text-detalle) !important;

    .flatpickr-months {
        background: var(--sep-color) !important;
        color: white !important;
        padding: 5px 0 !important;
    }

    .flatpickr-month {
        color: white !important;
    }

    .flatpickr-current-month {
        color: white !important;
    }

    .flatpickr-monthDropdown-months {
        background: var(--sep-color) !important;
        color: white !important;
        border: 1px solid var(--border-color) !important;
    }

    .flatpickr-weekday {
        color: var(--sep-color) !important;
        font-weight: bold !important;
    }

    .flatpickr-day {
        color: var(--text) !important;
        border-radius: 5px !important;
    }

    .flatpickr-day.selected {
        background-color: var(--tercer-color) !important;
        border-color: var(--tercer-color) !important;
        color: white !important;
    }

    .flatpickr-day.inRange {
        background: var(--tercer-color) !important;
        border-color: var(--tercer-color) !important;
        color: var(--text) !important;
        opacity: 0.5 !important;
        box-shadow: none !important;
    }

    .flatpickr-day:hover {
        background: var(--tercer-color) !important;
        color: white !important;
    }

    .flatpickr-day.today {
        border-color: var(--cuarto-color) !important;
    }

    .flatpickr-day.prevMonthDay,
    .flatpickr-day.nextMonthDay {
        color: var(--cero-color) !important;
    }

    .flatpickr-prev-month,
    .flatpickr-next-month {
        color: var(--text) !important;
    }

    .flatpickr-prev-month:hover,
    .flatpickr-next-month:hover {
        color: var(--cuarto-color) !important;
        color: var(--text);
    }

    .numInputWrapper:hover {
        background: var(--oct-color) !important;
    }

    .flatpickr-time {
        background: var(--primary-color) !important;
        border-top: 1px solid var(--border-color) !important;
    }

    .flatpickr-time input {
        color: var(--text) !important;
    }

    .flatpickr-time .flatpickr-am-pm {
        color: var(--text) !important;
    }

    .flatpickr-time input:hover,
    .flatpickr-time .flatpickr-am-pm:hover {
        background: var(--oct-color) !important;
    }

    .flatpickr-months {

        .flatpickr-prev-month svg,
        .flatpickr-next-month svg {
            fill: white !important;
        }

        .flatpickr-prev-month:hover svg,
        .flatpickr-next-month:hover svg {
            fill: var(--cuarto-color) !important;
        }
    }
}
