
.notification-container {
    position: fixed;
    top: 60px;
    right: 15px;
    z-index: 11;
    width: 100%;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: none;
}

.notification {
    background-color: var(--fondo3);
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    display: flex;
    align-items: center;
    gap: 5px;
    transform: translateX(120%);
    transition: all 0.3s ease-out;
    position: relative;
    font-size: var(--text-detalle);
    color: var(--text);
    border-left: 4px solid transparent;
    opacity: 0;

    i.bx-x-circle {
        color: var(--error) !important;
        font-size: 20px;
    }

    i.bx-check {
        color: var(--success) !important;
        font-size: 20px;
    }

    i.bx-error {
        color: #ff9800 !important;
        font-size: 20px;
    }

    i.bx-info-circle {
        color: #2196F3 !important;
        font-size: 20px;
    }

}

.notification.show {
    transform: translateX(0);
    opacity: 1;
}

.notification.hide {
    transform: translateX(120%);
    opacity: 0;
}

.notification::before {
    content: '';
    position: absolute;
    left: -5px;
    top: 0;
    height: 100%;
    width: 8px;
    border-radius: 10px 0 0 10px;
}

.notification.success::before {
    background-color: #4CAF50;
}

.notification.error::before {
    background-color: #f44336;
}

.notification.warning::before {
    background-color: #ff9800;
}

.notification.info::before {
    background-color: #2196F3;
}

.notification i {
    font-size: var(--text-titulo);
}

.notification .close-btn {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    color: var(--text);
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--text-detalle);
    opacity: 0.7;
    transition: opacity 0.2s;

    i {
        font-size: 20px !important;
        color: gray !important;
    }
}

.notification .close-btn:hover {
    opacity: 1;
}
