.tabla-responsive {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    margin-bottom: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    min-height: fit-content;
}

.tabla-responsive table {
    width: 100%;
    border-collapse: collapse;
    min-width: 600px;
    min-height: auto !important;
    color: var(--text);
    table-layout: auto;
    /* Ajusta las columnas al contenido */
}

.tabla-responsive th,
.tabla-responsive td {
    padding: 10px;
    text-align: center;
    border: 1px solid var(--cero-color);
    white-space: nowrap;
    min-height: 30px !important;
}

.tabla-responsive thead {
    background-color: var(--primary-color);
    font-weight: bold;
}
